streamlit
opencv-python
opencv-python-headless
numpy
ffmpeg-python
tqdm
torch
torchvision
timm              # for MiDaS depth model backbone
pillow
matplotlib
moviepy           # extracting audio, writing video
pysoundfile>=0.10.0
scipy             # for signal processing (FOA conversion)
