# Core
streamlit
opencv-python
opencv-python-headless
numpy
ffmpeg-python
tqdm
torch
torchvision
timm              # for MiDaS depth model backbone
pillow
matplotlib
moviepy           # extracting audio, writing video
pysoundfile==0.12.1
scipy             # for signal processing (FOA conversion)
git+https://github.com/xinntao/Real-ESRGAN.git
spatialmedia      # or install from GitHub if not on PyPI: pip install git+https://github.com/google/spatial-media
